<div class="row text-center">
  <div class="col-md-2 col-md-offset-2">
    <app-product productName="Tobacco" price="{{priceGenerator() | currency:'USD':'1.2-2'}}"></app-product>
  </div>
  <div class="col-md-2">
    <app-product productName="Coffee" price="{{priceGenerator() | currency:'USD':'1.2-2'}}"></app-product>
  </div>
  <div class="col-md-2">
    <app-product productName="Tea" price="{{priceGenerator() | currency:'USD':'1.2-2'}}"></app-product>
  </div>
  <div class="col-md-2">
    <app-product productName="Spices" price="{{priceGenerator() | currency:'USD':'1.2-2'}}"></app-product>
  </div>
</div>
