<div class="text-center">
  <div>
    <h3>Create account</h3>
    <span>
      <button class="btn btn-primary">Facebook</button>
      <button class="btn btn-danger">Google</button>
    </span>
  </div>

  <!--<div>
    <p>Difficult:</p>
    <button type="button" class="btn btn-primary btn-lg btn-block">Easy</button>
    <button type="button" class="btn btn-default btn-lg btn-block">Middle</button>
    <button type="button" class="btn btn-default btn-lg btn-block">Hard</button>
  </div>-->

  <div class="spacer"></div>

  <button class="btn btn-success" (click)="newGame()">New game</button>

  <div class="spacer"></div>
</div>
